@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300&display=swap);
@import url(https://fonts.googleapis.com/css?family=Oswald:regular,500,600&display=swap);
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

body {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  font-size: 12px;
}

[class*=__container] {
  max-width: 1880px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

[class*=__button] {
  font-weight: 500;
  font-size: 18px;
  padding: 18px 45px;
  border: 2px solid #000000;
  text-align: center;
  max-width: 180px;
  text-transform: uppercase;
  display: block;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 767.98px) {
  [class*=__button] {
    width: 100%;
    margin: 0 auto;
  }
}
.main__brands {
  display: grid;
  gap: 35px;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
}
@media (max-width: 767.98px) {
  .main__brands {
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
  }
}
.main__block-offers {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 434px 434px;
  padding-bottom: 30px;
}
@media (max-width: 1050px) {
  .main__block-offers {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(350px, 400px);
  }
}

.offers-block__link_span {
  grid-row: span 2;
}
@media (max-width: 1050px) {
  .offers-block__link_span {
    grid-row: span 1;
  }
}

fieldset {
  border: 2px solid #C4C4C4;
  padding: 10px;
  margin-bottom: 30px;
}
@media (max-width: 767.98px) {
  fieldset {
    border: none;
  }
}

legend {
  text-align: center;
  font-size: 24px;
  padding: 0 90px;
  font-weight: 400;
  text-transform: uppercase;
}
@media (max-width: 767.98px) {
  legend {
    display: none;
  }
}

.brands-border__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0;
  height: 100%;
  width: 100%;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media (max-width: 767.98px) {
  .brands-border__link {
    border: 2px solid #C4C4C4;
    padding: 20px 0;
  }
}
.brands-border__link_mobile {
  display: none;
}
@media (max-width: 767.98px) {
  .brands-border__link_mobile {
    display: block;
    text-align: center;
  }
}

.offers-block__link {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.offers-block__link:first-child {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 10px 64px 83px 0;
}
@media (max-width: 767.98px) {
  .offers-block__link:first-child {
    padding: 10px 24px 19px 0;
  }
}
.offers-block__link:nth-child(2) {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 0 103px 86px;
}
.offers-block__link:nth-child(3) {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 0 115px 94px;
}
@media (max-width: 1050px) {
  .offers-block__link:nth-child(3) {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 767.98px) {
  .offers-block__link:nth-child(3) {
    padding: 10px 0px 27px 31px;
  }
}
.offers-block__image {
  display: block;
  padding-bottom: 46.97%;
  overflow: hidden;
  z-index: -1;
}
.offers-block__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.offers-block__image_big {
  display: block;
  padding-bottom: 97.08%;
  overflow: hidden;
  z-index: -1;
}
.offers-block__image_big img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.offers-block__right {
  max-width: 370px;
}
@media (max-width: 1263px) {
  .offers-block__right {
    max-width: 300px;
  }
}
@media (max-width: 1352px) {
  .offers-block__right_padding {
    padding-left: 50px;
  }
}
.offers-block .offers-block__title_big {
  font-weight: 600;
  font-size: 96px;
  line-height: 1.14;
}
.offers-block__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.3;
  color: #000;
  margin-bottom: 7px;
  text-transform: uppercase;
}
.offers-block__desc {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.7;
  margin-bottom: 50px;
}
.page-shop__container {
  display: grid;
  grid-template-columns: 19% 1fr;
  gap: 30px;
}
@media (max-width: 767.98px) {
  .page-shop__container {
    grid-template-columns: 100%;
  }
}
.page-shop__checkbox {
  border-right: 1px solid #C4C4C4;
  margin-bottom: 24px;
}
@media (max-width: 767.98px) {
  .page-shop__checkbox {
    margin-bottom: 0px;
  }
}
.page-shop__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  margin-bottom: 20px;
}
@media (max-width: 767.98px) {
  .page-shop__title {
    margin-bottom: 0px;
  }
}
.page-shop__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@media (max-width: 767.98px) {
  .page-shop__form {
    display: none;
  }
}
.page-shop__catalog {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 46px;
  -webkit-column-gap: 26px;
     -moz-column-gap: 26px;
          column-gap: 26px;
}
@media (max-width: 962px) {
  .page-shop__catalog {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 767.98px) {
  .page-shop__catalog {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 18px;
    -webkit-column-gap: 14px;
       -moz-column-gap: 14px;
            column-gap: 14px;
  }
}
.page-shop__right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 63px;
  padding-bottom: 62.67px;
}
.page-shop__link {
  width: 140px;
  -ms-flex-item-align: center;
      align-self: center;
}
@media (max-width: 767.98px) {
  .page-shop__link {
    width: 100%;
  }
}
.page-shop__learn {
  font-weight: 500;
  font-size: 14px;
  color: #828282;
  border: 2px solid #C4C4C4;
  display: block;
  padding: 20px 18px;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.form-category__row {
  position: relative;
}
.form-category__input {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  opacity: 0;
}
.form-category__label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 9px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #3F3F3F;
  font-family: "Roboto", sans-serif;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.form-category__input:checked + .form-category__label::before {
  background: url(../img/icons/yes.svg) 50% no-repeat #000000;
  outline: #000;
}
.form-category__label::before {
  content: "";
  position: relative;
  top: 3px;
  right: 0;
  width: 14px;
  height: 14px;
  border: 1px solid #828282;
}

.catalog-card__image {
  position: relative;
  overflow: hidden;
  padding-bottom: 130.8%;
  display: block;
  margin-bottom: 14px;
}
.catalog-card__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.catalog-card__clearens {
  position: absolute;
  top: 15px;
  left: 0;
  width: 40px;
  height: 20px;
  color: #FFFFFF;
  background-color: #000;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
}
@media (max-width: 767.98px) {
  .catalog-card__item_block {
    display: none;
  }
}
.catalog-card__text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.catalog-card__top {
  font-weight: 600;
  color: #BDBDBD;
  text-transform: uppercase;
}
.catalog-card__title-link {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.48;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 18px;
  display: block;
  -webkit-transition: -webkit-text-decoration 0.3s;
  transition: -webkit-text-decoration 0.3s;
  -o-transition: text-decoration 0.3s;
  transition: text-decoration 0.3s;
  transition: text-decoration 0.3s, -webkit-text-decoration 0.3s;
}
.catalog-card__price {
  font-size: 22px;
  line-height: 1.5;
}
.catalog-card__price_sale {
  color: #EB5757;
}
.catalog-card__price_sale span {
  font-size: 14px;
  text-decoration: line-through;
  color: #828282;
  padding-left: 16px;
}

.page-advertising__body {
  position: relative;
  margin-bottom: 67px;
  padding-top: 77px;
  padding-left: 269px;
}
@media (max-width: 767.98px) {
  .page-advertising__body {
    padding-left: 200px;
  }
}
.page-advertising__image {
  position: absolute;
  display: block;
  padding-bottom: 24.86%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.page-advertising__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.page-advertising__text {
  position: relative;
  max-width: 640px;
  padding-top: 19px;
  padding-right: 56px;
  top: 0px;
  left: 0;
  z-index: 2;
  padding-bottom: 77px;
}
@media (max-width: 962px) {
  .page-advertising__text {
    left: -90px;
  }
}
.page-advertising__text::before {
  content: "";
  position: absolute;
  width: 94%;
  height: 2px;
  display: block;
  background-color: #000;
  top: 0;
  right: 0;
}
.page-advertising__text::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 34.12%;
  display: block;
  background-color: #000;
  top: 0;
  right: 0;
}
.page-advertising__title {
  font-weight: 500;
  font-size: 56px;
  line-height: 1.3;
  text-transform: uppercase;
  margin-bottom: 17px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 962px) {
  .page-advertising__title {
    font-size: 36px;
  }
}
@media (max-width: 767.98px) {
  .page-advertising__title {
    font-size: 18px;
  }
}
.page-advertising__desc {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 24px;
}
@media (max-width: 962px) {
  .page-advertising__desc {
    font-size: 20px;
  }
}
@media (max-width: 767.98px) {
  .page-advertising__desc {
    font-size: 14px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 24px;
}
.header__title {
  font-size: 24px;
  font-weight: 400;
}
.header__side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4px;
  font-size: 0;
}
@media (max-width: 767.98px) {
  .header__side {
    display: none;
  }
}
.header__nav {
  width: 40px;
  height: 40px;
  border: 2px solid #C4C4C4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.item-gallery__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 79px;
}
@media (max-width: 962px) {
  .item-gallery__container {
    gap: 50px;
  }
}

.catalog-card_grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  -webkit-column-gap: 31px;
     -moz-column-gap: 31px;
          column-gap: 31px;
}
@media (max-width: 962px) {
  .catalog-card_grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 767.98px) {
  .catalog-card_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.baner__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 96px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 118px 0 82px;
}
@media (max-width: 962px) {
  .baner__body {
    gap: 50px;
  }
}
@media (max-width: 767.98px) {
  .baner__body {
    display: block;
    width: 100%;
    height: 100%;
    padding: 24px 0 21px;
  }
}
.baner__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 56%;
          flex: 1 0 56%;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  padding-bottom: 19.2063%;
}
@media (max-width: 767.98px) {
  .baner__image {
    display: block;
    min-height: 300px;
  }
}
.baner__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.baner__text {
  position: relative;
  max-width: 640px;
  padding-top: 19px;
  top: 0px;
  left: 0;
  z-index: 2;
}
@media (max-width: 767.98px) {
  .baner__text {
    max-width: 268px;
    background-color: rgba(255, 255, 255, 0.2862745098);
    margin: 0 auto;
    top: 0px;
    padding: 15px 20px;
    text-align: center;
    margin-top: -250px;
  }
}
.baner__text::before {
  content: "";
  position: absolute;
  width: 94%;
  height: 2px;
  display: block;
  background-color: #000;
  top: 0;
  right: 0;
}
@media (max-width: 767.98px) {
  .baner__text::before {
    display: none;
  }
}
.baner__text::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 25.12%;
  display: block;
  background-color: #000;
  top: 0;
  right: 0;
}
@media (max-width: 767.98px) {
  .baner__text::after {
    display: none;
  }
}

.article__blog {
  padding: 46px 21px;
}

.blog-article {
  background: #F8F9FB;
}
.blog-article__section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
@media (max-width: 962px) {
  .blog-article__section {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 562px) {
  .blog-article__section {
    grid-template-columns: 1fr;
  }
}
.blog-article__subtitle {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 30px;
}
.blog-article__area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  padding: 24px 24.16px 5px;
}
.blog-article__top {
  font-weight: 600;
  color: #BDBDBD;
  font-size: 18px;
  line-height: 1.48;
  text-transform: uppercase;
  margin-bottom: 21px;
}
.blog-article__content-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.text-content__title {
  display: block;
  font-weight: 400;
  font-size: 26px;
  margin-bottom: 32px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.text-content__subject {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin-bottom: 80px;
}
.text-content__date {
  color: #4F4F4F;
  font-weight: 300;
  font-size: 13px;
  border-top: 3px solid #000000;
}

@media (any-hover: hover) {
  .brands-border__link:hover {
    background-color: #F0F2F2;
  }
  .form-category__label:hover {
    color: #000;
  }
  .catalog-card__title-link:hover {
    text-decoration: underline;
  }
  .catalog-card__image img:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
  .page-advertising__title:hover {
    text-decoration: underline;
  }
  .page-advertising__button:hover {
    background-color: #000;
    color: #fff;
  }
  .offers-block__button:hover {
    background-color: #000;
    color: #fff;
  }
  .page-shop__learn:hover {
    background: #F0F2F2;
    border: 2px solid #828282;
  }
  .header__nav:hover {
    background: #F0F2F2;
    border: 2px solid #828282;
  }
  .text-content__title:hover {
    text-decoration: underline;
  }
  .offers-block__link:hover .offers-block__image img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}