@font-face {
    font-family: 'Tungsten Compressed';
    src: url('TungstenCompressed-Bold.woff2') format('woff2'),
        url('TungstenCompressed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tungsten Book';
    src: url('Tungsten-Book.woff2') format('woff2'),
        url('Tungsten-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

